<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Show</title>
</head>
<body>

    <header>
        <h1><%= movie.title %></h1>
    </header>

    <nav>
        <a href="./">Library</a>
    </nav>

    <div class="container">

        <p>Released: <%= movie.release %></p>
        <p>Rating: <%= movie.rating %></p>
        <p>Starring: <%= movie.cast %></p>
        
    </div>

    <footer>

        <!-- Delete Button -->
        <form action="/movies/<%= movie._id %>?_method=DELETE" method="POST">
            <button class="deletebtn" type="submit">Delete Movie</button>
        </form>
        
        <!-- Update link
        <a href="/movies/<%= movie._id %>/edit">Update Movie</a> -->
        
        <!-- Update Button -->
        <form action="/movies/<%= movie._id %>/edit" method="get">
            <button class="updatebtn" type="submit">Update Movie</button>
        </form>

    </footer>

</body>
</html>