<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Show</title>
</head>
<body>
    <a href="./">Library Please</a>
    <h1><%= movie.title %></h1>
    <h3><%= movie.release %></h3>
    <h3><%= movie.rating %></h3>
    <h3><%= movie.cast %></h3>

    <!-- Delete Button -->
    <form action="/movies/<%= movie._id %>?_method=DELETE" method="POST">
        <button type="submit">X</button>
    </form>

    <!-- Update Button -->
    <a href="/movies/<%= movie._id %>/edit">Update Movie</a>


</body>
</html>